@font-face {
    font-family: 'Moana';
    src: url('../assets/fonts/Moana/MoanaFont.ttf') format('opentype');
}
@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf') format('opentype');
}