.model-container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .content-modelMain {
    flex: 1;
    position: relative; // important pour permettre le positionnement absolu à l'intérieur
    display: flex;
    justify-content: center;
    align-items: center;
  
    .overlay-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
  
    .card {
      position: absolute;
      top: 5%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }
  
    .medicalForm-content,
    .medical-form {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
  }
  