.custom-card {
    position: relative;
    background: #ffffff;
    border-radius: 1rem;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 120px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
    .card-icon-top-right {
        position: absolute;
        top: 10px;    // distance du haut
        right: 10px;  // distance de la droite
        font-size: 1.5rem;
        color: #800b80;
        cursor: pointer;
      }
    .card-title {
      font-size: 20px;
      color: #800b80;
      margin-bottom: 0.75rem;
    }
  
    .card-content {
      font-size: 1rem;
      color: #333;
    }
  }
  